name: Package Addon

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: WoW Packager
        uses: BigWigsMods/packager@v2.5.1

      - name: Mark GitHub release as prerelease
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}