name: Package Addon

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: WoW Packager
        uses: BigWigsMods/packager@v2.5.1
        with:
          args: -d
